<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - batyaWeb</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">batyaWeb</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>
    <div class="container-fluid">
            <div class="col-sm-1 float-left" >
                <div class="btn-group-vertical" role="group">
                    <a asp-controller="Home" asp-action="Status" class="btn btn-secondary">Status</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">wlan</a>

                        <div class="btn-group" role="group">
                            <button id="DBDrop" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              DataBase
                            </button>
                                <div class="dropdown-menu" aria-labelledby="DBDrop">
                                  <a class="dropdown-item" asp-controller="Home" asp-action="DataBase">Behold</a>
                                  <a class="dropdown-item" asp-controller="Home" asp-action="DBAdd">Add</a>
                                </div>
                        </div>

                    <a asp-controller="Home" asp-action="IpOf" class="btn btn-secondary">IpOf</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">itl</a>
                </div>
            </div>
       
        <main role="main" class="pb-3">
                <div class="jumbotron col-sm-8 offset-sm-2 d-flex">
                    
                        @RenderBody()
                    
                </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - batyaWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
