@{
    ViewData["Title"] = "Add";
}

<div class="container col-sm-3">
    <form asp-controller="Home" asp-action="DBAdd" class="form-group">
        <input type="text" name="site" class="form-control">
        <input type="submit" value="Submit" class="form-control btn btn-secondary">
    </form>
    @ViewBag.Message
</div>